body{
  background-color: white;
}
button {
font-size: 30px;
background-color: white;
color: black;
border: 0px solid white;
height: 50px;
width: 50px;
border-radius: 50%;
}
button:hover{
  background-color: whitesmoke ;
}
.input{
  font-size: 30px;
  color: black;
  border:1px solid white;
  border-bottom-color:grey;
  text-align: right;
}

img {
  height: 30px;
  width: 30px;
}
#equal{
background-color:green;
}
#ac,#bs,#per,#div,#plus,#minus,#into,#change {
color: green;
}
.container{
 display: flex;
flex-direction :column;
position: absolute;
top: 43%;
bottom:3%;
align-content: space-around;
}
.item{
  
  margin-right:30px;
  margin-bottom: 10px;
  
}
#ac,#seven,#four,#one,#change{
  margin-left:25px;
}
#div,#minus,#plus,#into,#equal{
  margin-right: 0px;
}
.res{
  display: none;
  font-size: 35px;
  color: grey;
  text-align: right;
  border:1px solid white;
  border-bottom-color:grey;
}
