body {
 background-color: black;
}
button {
font-size: 30px;
background-color: black;
color: white;
border: 0px solid black;
height: 50px;
width: 50px;
border-radius: 50%;
-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
button:hover{
  animation: bg 0.1s linear;
}
button:active{
  background-color: dimgrey;
}
@keyframes bg{
  100% {
    background-color: dimgrey;
  }
}
.input{
  font-size: 40px;
  color: white;
  border:1px solid black;
  border-bottom-color:grey;
  text-align: right;
}
.input:hover{
  background-color:dimgrey;
}
img{
  height:30px;
  width:30px;
}
#equal{
background-color: #FF7518;
}
#ac,#bs,#per,#div,#plus,#minus,#into,#change {
color: #FF7518;
}
.container{
 display: flex;
flex-direction :column;
position: absolute;
top: 43%;
bottom:3%;
align-content: space-around;

}
.item{
  
  margin-right:30px;
  margin-bottom: 10px;
  
}
#ac,#seven,#four,#one,#change{
  margin-left:25px;
}
#div,#minus,#plus,#into,#equal{
  margin-right: 0px;
}
.res{
  display: none;
  font-size: 30px;
  color: grey;
  text-align: right;
  border:1px solid black;
  border-bottom-color:grey;
}
